<!-- Intro Header -->
<div style="height:100%">
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">BandSmash</h1>
                    	<a id="btnToDiv" ng-hide="showAudio" ng-click="showAudio = true" class="btn btn-circle page-scroll">
                        </a>
                        <a id="btnToDiv" ng-hide="!showAudio" ng-click="showAudio = false" class="btn btn-circle page-scroll">
                        </a>
                    </div>
                </div>
            </div>
        </div>

<div id="ratingSongs" ng-repeat="song in songs">
    <div ng-if="showAudio" id="firstSong" class="audioPlayer">
        <div class="row">
            <div class="col-md-12">
                <button music-player="play" add-song="songs[1]">{{ songs[1].title }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- init soundManager2 player -->
                <sound-manager></sound-manager>

                <p>
                    Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
                </p>

                <div class="seekBase" seek-track>
                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
                <br />
                <button play-music>Play</button>
                -
                <button pause-music>Pause</button>
                -
                <button stop-music>Stop</button>

                <br/>Volume: {{ volume }} -
                <button music-volume data-type="increase">+</button>
                -
                <button music-volume data-type="decrease">-</button>
            </div>
        </div>
    </div>
 <!-- </div>	 -->
    <div ng-if="showAudio" id="secondSong" class="audioPlayer">
       <div class="row">
            <div class="col-md-12">
                <ul>
                        <button music-player="play" add-song="songs[2]">{{ songs[2].title }}</button>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
                </p>
                <div class="seekBase" seek-track>
                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
                <br />
                <button play-music>Play</button>
                -
                <button pause-music>Pause</button>
                -
                <button stop-music>Stop</button>
                <br/>
                <br/>Volume: {{ volume }} -
                <button music-volume data-type="increase">+</button>
                -
                <button music-volume data-type="decrease">-</button>
            </div>
        </div>>
    </div> 
    
    </header>


    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Sashok</h2>
                <p>Когда Сашок красава, то каждый сможет найти <a href="https://vk.com/sashkocheh">этого красавца</a>. Подстрижен и поглажеен, глядя на него не задумываешься о неудачах, ведь с ним всегда везет</p>
                <p>Чудно прибухнуть с ним в тяжелую минуту, но и просто прибухнуть с ним тоже замечательно.Приходите, он всегда рад вас видеть в этом <a href="http://www.porter.com.ua/pub_porter-na-gidroparke.15">заведении</a></p>
            </div>
        </div>
    </section>
    <div id="comeTogether">
        	
        </div>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact to edit information "About Sashok"</h2>
                <p>Рад буду исправить если что-то не так обращайтесь.</p>
                <p>Всегда, ваш <a href="https://vk.com/id17762527">покорный слуга</a>
                </p>
            </div>
        </div>
        
    </section>
</div>