.audioPlayer {
    top: 45%;
	height: 300px;
    width: 30%;
    position: absolute;
     background: rgba(240, 248, 255, 0.5);
    display: inline-block;
}

#firstSong{
    left: 17%;
}
#secondSong{
    left: 53%;
}


/*ANIMATION*/

/* The starting CSS styles for the enter animation */
.audioPlayer.ng-enter {
  transition:0.5s linear all;
  opacity:0;
  transform: translateY(-100%);
}

/* The finishing CSS styles for the enter animation */
.audioPlayer.ng-enter.ng-enter-active {
  opacity:1;
  transform: translateY(0);
}
.audioPlayer.ng-leave.ng-leave-active {
  opacity:0;
  transform: translateY(-100%);
}
.audioPlayer.ng-leave {
  transition:0.5s linear all;
  opacity:1;
  transform: translateY(0);
}

#btnToDiv.ng-hide{
	transition:0s linear all;
	opacity:0;
}

.customBtns {
    bottom: 0;
    position: absolute;
    width: 50%;
    left: 25%;
    color: black;
}